.App {
  min-height: 100vh;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-food-western-food-simple-poster-background-image_25130.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.search-bar{
  width: 180px;
  border: none;
  height: 35px;
  
}

.search-form{
 min-height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;

}

.search-button{
  background:rgb(112, 5, 41);
  border: plum;
  padding: 10px 20px;
  color: aliceblue;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}